/**
 * Rename this file config.js and fill in the props from your store.
 *
 * See https://developer.bigcommerce.com/api-docs/getting-started/authentication/rest-api-authentication
 * for more information.
 */
const config = {
  clientId: '{{clientId}}',
  accessToken: '{{accessToken}}',
  storeId: '{{storeId}}',  
};

module.exports = config;
